/*
 * Style.css style sheet
 * CS325 Project 0
 * Peter, Stephen, Terrence, Pratap
 */

body {
	display: block;
	font-family: Palatino;
	width:90%;
	height:100%;
	margin: 0 auto;
	background-image:url("http://www.toysrus.com/graphics/media/trus/Aplusplus/2013/072513/3444806/Blokus%20Game_3444806_02.jpg");
}

header {
    text-align: center;
	font-style: oblique;
}

nav {
    text-align: center;
    padding: 0px;
	margin-bottom: 100px;
}

nav ul {
	padding:0px;	
}

nav ul li {
	background-color: #451847;
	display:inline;
	padding-top:10px;
	padding-bottom:10px;
	border:0px;
	margin:0px;
	width: 20%;
	float: left;
}

nav ul li a {
	color: white;
	display:block; 
	width:100%;
    text-decoration: none;
}

.selectedTab {
	background-color: #FF6600;
}

aside {
    float: right;
	position: fixed;
	right: 5px;
	margin: 15px;
	margin-bottom: 200px;
}

table {
    border: 1px solid black;
    margin-top:15px;
    max-width: 100%;
}

td {
    border: 1px solid black;
    width: 120px;
}

h1 {
    padding-bottom:0px;
	padding-top:5px;
    font-size: 250%;
}

h2 {
	margin-top:5px;
}

p {
	margin:10px;
}

ol {
    clear: both;
}
.blueBackground {
    padding: 5px;
	background-color: lightblue;
	border-radius: 10px;
	width:80%;
}

.preferred {
	background-color: lightgray;
}

.blokus_img {
    float:left;
	width:250px;
	margin:15px;
}

.navList {
	padding: 0px;
}

.centered {
    text-align: center;
}

#gray {
	background-color: lightgray;
}
